* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family:  Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

@font-face {
    font-family: 'antonio_1';
    src: url("../fonts/Antonio-Bold.woff2") format("woff2");
    src: url("../fonts/Antonio-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'antonio_2';
    src: url("../fonts/Antonio-Regular.woff2") format("woff2");
    src: url("../fonts/Antonio-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'antonio_3';
    src: url("../fonts/Antonio-Medium.woff2") format("woff2");
    src: url("../fonts/Antonio-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'antonio_4';
    src: url("../fonts/Antonio-SemiBold.woff2") format("woff2");
    src: url("../fonts/Antonio-SemiBold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}





header {
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div.left a {
    display: block;
}
header div.left a img {
    display: block;
    width: 100%;
}
header nav.right {}
header nav.right ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header nav.right ul li{
    margin-right: 80px;
}
header nav.right ul li a{
    text-decoration: none;
    display: block;
    color: #868686;
    font-weight: 700;
    font-size: 20px;
}
header nav.right ul li:last-child {
    margin-right: 0;
}
header nav.right ul li a.link:hover {
    border-bottom: 2px solid blue;
    width: 50%;
    color: #000;
}
header nav.right ul li a.login-button {
    border: 1px solid rgb(178, 178, 214);
    padding: 16px 20px;
    color: rgb(178, 178, 214);
}

header nav.right ul li a.login-button:hover {
    border: 1px solid blue;
    color: #00f;
}




#spotlight { 
    padding: 0 0 0 80px;
    display: flex;
}

#spotlight .left { 
    width: 30%;
}

#spotlight .left .top { 
    display: flex;
    justify-content: space-between;
    padding-left: 55px;
    margin-top: 100px;
    margin-bottom: 70px;
}


#spotlight .left .top ul { 
}

#spotlight .left .top ul li.num { 
    font-size: 30px;
    font-weight: 600;
    color: #b87c78;
    font-family: antonio_4;
    word-spacing: 2rem;
}

#spotlight .left .top ul li.let {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    width: 10%;
    color:  #868686;
    margin-top: 10px;
    line-height: 1.5em;
}

#spotlight .left .bottom { 
    width: 42.5%;
    background: #e2e2e2;
    position: absolute;
    z-index: 2;
    padding: 7% 5%;
}

#spotlight .left .bottom h3 { 
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    width: 100%;
    text-align: left;
    line-height: 1.2em;
}

#spotlight .left .bottom p { 
    width: 90%;
    margin-bottom: 60px;
}

#spotlight .left .bottom .button { 
    padding: 15px 20px;
    background: #7C8EE9;
    color: #fff;
    font-weight: 500;
}

#spotlight .right { 
    width: 70%;
}

#spotlight .right .content { 
    position: relative;
    z-index: 1;
}

#spotlight .right .content img { 
    width: 100%;
    display: block;

}




#knowmore { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10% 11%;

}

#knowmore aside { 
    width: 30%;
}

#knowmore aside .top { 
    width: 100%;
    position: relative;
}

#knowmore aside .top img { 
    width: 100%;
    display: inline-block;
}

#knowmore aside .bottom { 
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 21px 27px;
    background: #e7e5e5;
    position: relative;
    left: 0px;
    bottom: 90px;

}

#knowmore aside .bottom ul { 
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5px;
}

#knowmore aside .bottom ul li { 
    margin-right: 15px;
    width: 100%;
}

#knowmore aside .bottom ul li img { 
    width: 100%;
    display: block;
}

#knowmore aside .bottom ul li:last-child {
    margin-right: 0;
}
#knowmore .right { 
    width: 65%;
    padding-top: 7%;
}

#knowmore .right h2 { 
    font-size: 36px;
    font-weight: 600;
    max-width: 32%;
    margin-bottom: 30px;
}
#knowmore .right h2::after {
    display: block;
    content: "";
    width: 0;
    height: 4px;
    background: #7c8ee9;
}
#knowmore .right h2:hover::after {
    width: 24%;
}
#knowmore .right p { 
    width: 68%;
    font-size: 20px;
    font-weight: 500;
    color: #b8b8b8;
    margin-bottom: 50px;
}

#knowmore .right .button { 
    padding: 17px 25px;
    background: #7c8ee9;
    color: #fff;
}




#work { 
    width: 100%;
    padding-left: 80px;
    margin-bottom: 50px;
}

#work .top { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#work .top h2 { 
    font-size: 36px;
    font-weight: 600;
    max-width: 32%;
    margin-bottom: 30px;
}
#work .top  h2::after {
    display: block;
    content: "";
    width: 0;
    height: 4px;
    background: #7c8ee9;
}
#work .top  h2:hover::after {
    width: 18%;
}

#work .top ul { 
    display: flex;
    justify-content: space-between;
}

#work .top ul li { 
    width: 25%;
}

#work .top ul li:last-child {
    margin-right: 50px;
}

#work .top ul li img { 
    width: 100%;
    display: block;
}

#work .bottom { 
   width: 100%;
    
}

#work .bottom ul { 
    width: 100%;
    display: flex;
    justify-content:space-between;

}

#work .bottom ul li { 
    width: 35%;
    margin-right: 50px;
}

#work .bottom ul li:last-child {
    margin-right: -75px;
}

#work .bottom ul li img.main-pic { 
    width: 100%;
    display: block;
}


#work .bottom ul li div.background {
    padding: 24px 20px;
    background: #f5f2f2;
    width: 82%;
    position: relative;
    left: 0px;
    bottom: 95px;
}

#work .bottom ul li div.background h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

#work .bottom ul li div.background span {
    font-size: 16px;
    font-weight: 500;
    color: #72a1cc;
}

#work .bottom ul li div.background span img.sub-pic {
    width: 4%;
    margin-right: 10px;
}



#choice { 
    width: 100%;
    padding: 80px;
    background: #f0f1f1;
}

#choice .top { 
    width: 100%;
    margin-bottom: 100px;
}

#choice .top h2 { 
    padding-top: 80px;
    font-size: 36px;
    font-weight: 600;
    max-width: 32%;
    margin-bottom: 30px;
}

#choice .top  h2::after {
    display: block;
    content: "";
    width: 0;
    height: 4px;
    background: #7c8ee9;
}

#choice .top  h2:hover::after {
    width: 11%;
}

#choice .bottom { 
    width: 100%;
}

#choice .bottom ul { 
    display: flex;
    justify-content: space-between;
}

#choice .bottom ul li { 
    width: 20%;
}

#choice .bottom ul li .rect { 
    padding: 40px 40px;
    background: #fff;
    width: 30%;
}

#choice .bottom ul li img { 
    width: 12%;
    display: block;
    position: relative;
    left: 24px;
    bottom: 56px;
}

#choice .bottom ul li h3 { 
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;

}

#choice .bottom ul li p { 
    font-size: 16px;
    width: 90%;
}